---
title: Our Story
hero: Our story
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	{% endfor %}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">About Henry</h3>
		<p class="editable">Henry is seven years old. He lives in England. Henry has a dog named Ruby, a guinea pig named Bubble, and soon he will get a cat named Evie!
		This website is dedicated to Henry's merch. Henry has a YouTube channel where he puts out new videos at least once a week. Make sure you visit his channel, like his
		videos and subscribe!</p>
	</div>
</div>
